<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.css">
    <style>
        body {
            width: 50%;
            margin-left: 25%;
        }
        a{
            color: #061022;
        }
    </style>
</head>
<body>
<h3 style="text-align: center">List Blog Of MauMinhKA</h3>
<a th:href="@{/blog/create}">Create Blog</a><hr>
<p th:text="${message}" style="color: #45a049"></p>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blogs: ${blog}">
        <td th:text="${blogs.id}"></td>
        <td ><a  th:href="@{/blog/view/__${blogs.id}__}" th:text="${blogs.name} " ></a> </td>
        <td ><a style="background: #0ad033;padding: 10px;border-radius: 7px"  th:href="@{/blog/edit/__${blogs.id}__}"  >Chỉnh Sửa</a> </td>
        <td ><a  th:href="@{/blog/delete/__${blogs.id}__}"  >Xóa</a> </td>

    </tr>
    </tbody>
</table>


</body>
</html>